body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  }
  
  header {
    border-bottom: solid 2px rgb(2, 23, 51);
    padding: 20px;
    font-size: 32px;
    color: rgb(8, 19, 34);
  }
  
  section {
    background: rgb(160, 145, 177);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  .chamada-texto {
    margin-right: 5%;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }